<app-sidemenu></app-sidemenu>
<!-- <div *ngIf="obras.length > 0">
    <h3>Obras del autor</h3>
    <ul>
      <li *ngFor="let obra of obras">
        <h3>{{ obra.title }}</h3>
        <p>Líneas:</p>
        <ul>
          <li *ngFor="let line of obra.lines">{{ line }}</li>
        </ul>
      </li>
    </ul>
</div> -->

<div *ngIf="obras.length > 0">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>Obras del autor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obra of obras">
        <h3>{{ obra.title }}</h3>
        <p>Líneas:</p>
        <ul>
          <li *ngFor="let line of obra.lines">{{ line }}</li>
        </ul>
        <button type="button" (click)="agregarAFavoritosObra(obra)">Agregar a Favoritos</button>
      </tr>
    </tbody>
  </table>
</div>
